<div id="training_overview">
	
<!-- BEGIN training_instructions -->
<div id ="training_instructions" class="small">{INSTRUCTIONS}</div>
<!-- END training_instructions -->

<!-- BEGIN training_hint -->
<div id="training_hint" class="small alert"><p>{UNTRAINED} {UNTRAINED_HINT}</p></div>
<!-- END training_hint -->

<!-- BEGIN training_table -->
<div id="training_table">{TABLE}</div>
<!-- END training_table -->

<!-- BEGIN training_explanation -->
<div id="training_explanation" class="small">{EXPLANATION}</div>
<!-- END training_explanation -->

</div>