<div id="training_card">
	
<!-- BEGIN training_card_status -->
<div id="training_card_status" class="small"><p>{TRAINING_STATUS_TEXT}</p></div>
<!-- END training_card_status -->

<!-- BEGIN training card_actions_top -->
<div id="training_card_actions_top" class="small">{CARD_ACTIONS}</div>
<!-- END training card_actions_top -->

<!-- BEGIN training card_presentation -->
<div id="training_card_card_presentation" class="small">{CARD_PRESENTATION}</div>
<!-- END training card_presentation -->

<!-- BEGIN training card_actions_bottom -->
<div id="training_card_actions_bottom" class="small">{CARD_ACTIONS}</div>
<!-- END training card_actions_bottom -->

</div>